body{
  font-family: "poppins";
}
.container{
  background-color: beige;
  padding: 20px;
  text-align: center;
}

#submit{
  display: block;
  font-family: 'poppins';
  background-color: rgb(173, 148, 117);
  border: 0;
  padding:10px 60px;
  margin: auto;
}

#password, #email{
  padding:5px;
  border: 1px solid #ababab;
  width: 200px;
}

#password{
  margin-bottom: 30px;
}

input{
  display: inline;
}